

$paleta: (
    color1: #f3ee6b,
    color2: #ec6a8d,
    color3: #46f08d,
    color4: rgb(4, 109, 109),
    colorTxt: rgba(252, 250, 250, 0.56),
    colorTitulo: #EEEDE7,
    colorSec: #626161,
);

.parallax {
    background-color: white;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin btn {
    font-size: 110%;
    color:map-get($paleta, colorSec);
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px 3px 3px 3px;
    background-color: map-get($paleta, color1);
    margin-top: 10px;
}


