@import "branding";

@media only screen and (min-width: 0px) and (max-width: 768px)  {
    .GridContPadre {
        display: grid;
        grid-template-areas: 
        "logo"
        "nav"
        "main"
        "section"
        "footer"
        "footer";
        grid-template-columns: 100%;
        grid-template-rows: 125px 125px auto auto 80px 50px;
    }

    
    header {
        grid-area: logo;
    }
    
    nav {
        grid-area: nav;
        display: flex;
        justify-content: center;
        align-items: center;
    }
     
    main {
        grid-area: main;
    }

    section {
        grid-area: section;
    }
    
    footer {
        grid-area: footer;
    }

    footer {
        grid-area: footer;
    }
    
    .logo__ubicacion {
        display: flex;
        justify-content: center;
        padding: 0%;
    }

    ul {
        display: flex;
        justify-content: center;
    }

    .logo {
        height: 100px;
        width: 100px;
        margin-top: 20px;
    }

    ul li {
        font-size: 30px;
    }

    .mapa {
        width: 80%;
    }

    .footer__redes--flex {
        display: flex;
       flex-direction: column;
       h5 {
        margin-bottom: 8px;
       }
    }

    .cuerpo-ubicacion {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1023px) {
    .GridContPadre {
        display: grid;
        grid-template-areas: 
        "logo nav nav nav"
        "main main main main"
        "section section section section"
        "footer footer footer footer";
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: auto auto auto auto;
    }
    
    header {
        grid-area: logo;
    }
    
    nav {
        grid-area: nav;
    }
     
    main {
        grid-area: main;
    }

    section {
        grid-area: section;
    }
    
      footer {
        grid-area: footer;
    }
    

}

@media only screen and (min-width: 1024px){
    .GridContPadre {
        display: grid;
        grid-template-areas: 
        "logo nav nav nav"
        "main main main main"
        "section section section section"
        "footer footer footer footer";
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: auto auto auto auto;
    }
    
    header {
        grid-area: logo;
    }
    
    nav {
        grid-area: nav;
    }
     
    main {
        grid-area: main;
    }

    section {
        grid-area: section;
    }
      
    footer {
        grid-area: footer;
    }

    .logo {
        margin: 15px; }
}


.nav_grid {
    background-color: white;
    list-style: none;  
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 40px;
    padding-right: 61px;
    a {
        text-decoration: none;
        font-size: 20px;
        color: #00000080;
    }
    a:hover {
        color: rgba(0,0,0,.7);
    }
    li { 
        padding: 8px;
    }
    
}

.logo__ubicacion {
    padding-left: 15px;
}

.parallaxCont {
    background-image: url(../assets/img/parallax-form.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 45px; 
    padding-top: 0;
}

.contenedor__flex {
    display: flex;
    flex-direction: column;
}

.contenedor {
    width: 412px;
    background-color: white;
    font-size: 22px;
    line-height: 25px;
    padding: 14px;
    background-color: rgba(252, 250, 250, 0.89);
    margin-top: 50px;
    align-self: center;
}

.form-texto {
    display: block;
}

.boton {
    @include btn;
}
.boton:hover{
    @include btn;
    background-color: map-get($paleta, color2);
}

.cuerpo-ubicacion {
    display: flex;
    margin-bottom: 30px;   
}

.mapa {
    height: 200px;

}

.contacto__info {
    padding-left: 50px;
    padding-top: 20px;
}

.footer__redes--flex {
    display: flex;
    justify-content: center;
    h5 {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }
}

.h6, h6 {
    font-size: 1rem; 
    font-weight: 500;
}

.h5, h5 {
    font-size: 1.25rem;
    font-weight: 500;
}


