@import "branding";


footer {
    padding-top: 15px;
    background-color: #EEEDE7;
    h5 {
        display: flex;
        justify-content: flex-end;
        margin-top: 15px;
    }
    h6 {
        text-align: center;
        background-color: map-get($paleta, color3) ;
        margin: 0;
        padding: 13px;
    }
}

.redes_tamaño {
    width: 30px;
    height: 30px;
    margin: 15px;
}


