@import "branding";

.index__cuadro {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0;
    .cuadro {
        font-size: 40px;
        padding: 50px 20px;
        text-align: center;
    }
    .color1 {
        background-color: map-get($paleta, color1);
    }
    .color2 {
        background-color: map-get($paleta, color2);
    }
    .color3 {
        background-color: map-get($paleta, color3);
    }
}

.nosotros_parrafo {
    text-align: center;
    line-height: 30px;
    padding: 50px 150px;
}

.titulo_carousel {
    font-size: 60px;
    background-color: map-get($paleta, colorTitulo);
}

.subtitulo_carousel {
    font-size: 40px;
    background-color: map-get($paleta, colorTitulo);
 }

 .indexClientes {
    margin: 50px 0;
 }

 .card {
    box-shadow: 2px 2px 5px #999;
 }

 .tarjeta {
    transition: transform 0.3s;
 }

 .tarjeta:hover {
    transform: scale(0.5);
 }

 .transicion:hover {
    color: white;
    transition: all 1s;
}

