@import "branding";

section {
    width: 100%;
    height: 300px;
    padding: 0%;
    margin: 0%;
}

.servicios_parallax {
    @extend .parallax;
    background-image: url(../assets/img/imagenServicios.png) ;
}

.boton {
    @include btn;
}

