@import "branding";


.servicios_parallax {
    @extend .parallax;
    background-image: url(../assets/img/imagenServicios.png) ;
    width: 100%;
    height: 300px;
    padding: 0%;
    margin: 0%;
}

.boton {
    @include btn;
}

.experiencia_titulo {
    text-align: center;
    margin: 80px;
    h5 {
       font-size: 20px; 
       color: map-get($paleta, color2);
    }
    h3 {
        font-size: 40px;
    }
}

.experiencia_cuerpo {
    text-align: center;
    padding: 20px 70px;
}

.tabla {
    padding-top: 50px;
    padding-bottom: 50px;
}

