*{
    color: #626161;
    margin: 0px;
    body{
        overflow-x: hidden;
    }
}

@import "nav";
@import "footer";
@import "index";
@import "nosotros";
@import "contacto";
@import "servicios";
@import "faq";


/* -----------MEDIAS----------*/

@media only screen and (min-width: 0px) and (max-width: 768px)  {
.logo_mobile {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.redes_ubicacion {
    display: flex;
    justify-content: center;
}

.moverFooter {position: relative; top: 122px;}

.nosotros_parrafo {
    padding: 50px 100px;
}

.form-texto {
    width: 320px;
}

}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-end;
        padding: 30px;
    }
    
    .logo { margin: 15px;}
    
    }






