*{
    color: hsl(0, 1%, 38%);
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    body{
        overflow-x: hidden;
    }
}

@import "nav";
@import "footer";
@import "index";
@import "nosotros";
@import "contacto";
@import "servicios";
@import "faq";


/* -----------MEDIAS----------*/

@media only screen and (min-width: 0px) and (max-width: 768px)  {
.logo_mobile {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.redes_ubicacion {
    display: flex;
    justify-content: center;
}
footer {
    h5 {
        justify-content: center;
    }
}

.moverFooter {position: relative; top: 122px;}

.nosotros_parrafo {
    padding: 50px 100px;
}

.form-texto {
    width: 320px;
}

}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-end;
        padding: 30px;
    }
    
    .logo { margin: 15px;}
    
    }






