*{
    color: #626161;
    font-family: monospace;
}

@import "nav";
@import "footer";
@import "index";
@import "nosotros";
@import "contacto";
@import "servicios";
@import "faq";


/* -----------MEDIAS----------*/

@media only screen and (min-width: 0px) and (max-width: 768px)  {
.logo_mobile {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.redes_ubicacion {
    display: flex;
    justify-content: center;
}
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-end;
        padding: 30px;
    }
    
    .logo { margin: 15px;}
    
    }






